<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog</title>
</head>
    <body>
        <div style="width: 80%">
            This is my cool blog, it has a tag cloud, which I feel is very hip.
        </div>
        <div style="float: right; border: 5px solid red;">
            @Component.Invoke("TagCloud", 15)
        </div>
    </body>
</html>
