@{
    Layout = "/Views/Shared/_FlushPointLayout.cshtml";
    ViewBag.Title = "Home Page";
}

@section content
{
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

@* Todo replace with await when we have support for async sections *@
@{ 
    System.Threading.Thread.Sleep(1000);
}
<div class="row">
    <div class="col-md-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit ut neque nec vestibulum. Donec at elit nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla sit amet diam ac tempus. Maecenas ornare quam at facilisis dapibus. Aenean at eros rhoncus, viverra augue nec, viverra sem. In posuere malesuada ultricies. Nulla eu convallis dolor.

        Integer pharetra dignissim tortor, quis facilisis tellus faucibus in. Phasellus fringilla pellentesque justo eu tempor. Sed eget viverra lacus, eget gravida turpis. Donec dapibus sodales leo, non pharetra lacus volutpat quis. Quisque et auctor nulla. Nunc a orci ut libero luctus ornare ut eget erat. Integer eu risus tempor, scelerisque lacus nec, dignissim nisl. Ut ac leo nec velit tempus fringilla. Phasellus id nisi tortor. Aliquam magna nunc, congue eget sem quis, porta accumsan magna. Sed sit amet dapibus sem, placerat malesuada felis. Quisque vel dui ut est luctus congue.

        Curabitur non vulputate diam. Nulla molestie non felis quis tincidunt. Suspendisse vel sapien vitae nunc eleifend venenatis. Nunc ut ante ut massa volutpat bibendum. Mauris ut mi dui. Aliquam quam nunc, venenatis ac velit vel, tempus suscipit massa. Vestibulum posuere est sit amet nibh facilisis, et ultricies quam tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

        Suspendisse id nisi sed mauris luctus eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed pharetra leo eu augue lacinia pretium. In hac habitasse platea dictumst. Ut a tortor non nunc congue pretium ut sit amet nulla. Aenean et laoreet nisi, vel ornare neque. Vestibulum dui metus, mattis a velit eu, placerat accumsan nunc. Nam sit amet lectus venenatis, tincidunt justo ut, tincidunt lorem. Nullam fringilla sem purus, sed semper justo euismod nec. Vivamus nec faucibus elit. Integer feugiat convallis mi non pellentesque. Fusce id nulla ultricies, blandit lectus convallis, mollis turpis. Aenean et fringilla ante.

        Aliquam eget tortor dui. Proin pharetra, nunc nec dapibus ornare, turpis sapien tempus metus, non suscipit turpis tellus laoreet justo. Aenean feugiat condimentum accumsan. Nam in gravida augue. Maecenas non eros lobortis, dictum sem sed, laoreet libero. Cras condimentum quis sem nec lobortis. Duis quis massa sagittis, ultrices libero et, varius turpis. Pellentesque consequat aliquet erat, eu ultricies orci viverra at. Aenean porttitor, felis non mollis ornare, quam dui fermentum nunc, in lobortis nunc ligula ut nibh. Curabitur erat nulla, feugiat dapibus porta quis, commodo et orci. Praesent nec erat dui. Phasellus enim diam, egestas sed augue eget, volutpat vulputate magna. Cras neque augue, condimentum in orci ac, lacinia molestie leo. Sed ut lectus erat. Duis sed pretium arcu. Aenean molestie diam in arcu posuere faucibus a et enim.

        Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed commodo posuere mauris ut tempus. Ut vulputate lacinia turpis, nec semper sapien adipiscing id. Vivamus et fermentum nunc. Proin ullamcorper sed tortor eu porttitor. Cras ante dui, elementum id lectus eu, laoreet viverra lacus. Nam feugiat convallis massa eu tempus. Nunc quis dictum dui. Nullam non euismod tortor.

        Nam quis lacinia enim. Sed tristique rhoncus purus et congue. Quisque adipiscing vulputate tellus, placerat iaculis neque ultrices quis. Aenean lorem sem, volutpat eu mi et, imperdiet luctus lectus. Pellentesque tincidunt velit et elit accumsan faucibus. Ut a enim vulputate, scelerisque erat quis, vestibulum tortor. Nulla lacus neque, tempus et auctor vitae, blandit quis turpis. Nam id hendrerit nisl. Vestibulum et molestie nulla, sed egestas tellus. Aliquam erat volutpat. Ut fermentum commodo tempor. Quisque consectetur tempor hendrerit.
    </div>

    <div class="col-md-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec erat ligula. Fusce accumsan justo at libero eleifend ullamcorper id at dolor. Morbi id odio sed magna tristique mollis. Cras nec adipiscing leo, in tristique ante. Phasellus egestas, elit eget scelerisque feugiat, lacus erat lacinia est, in pellentesque nunc turpis nec orci. Donec cursus velit quis consectetur laoreet. Nulla condimentum nunc non enim congue elementum. Maecenas vel tellus at nibh commodo egestas.

        Aliquam nec elementum orci, ut interdum mi. Sed lorem lacus, malesuada in nisi a, auctor lobortis ipsum. Ut id erat suscipit, pharetra dui eu, sodales erat. Duis nibh turpis, vestibulum sit amet leo vitae, faucibus iaculis lectus. Nam lacinia purus fringilla dolor dictum posuere nec in libero. Integer id tempor elit. Mauris adipiscing ut sem id tincidunt. Cras turpis elit, dignissim vitae adipiscing vitae, ullamcorper in felis. Nullam et adipiscing neque. Integer ullamcorper eget tortor in sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse pretium tristique libero, ut gravida est placerat quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed sed lorem cursus, porttitor nibh eu, bibendum turpis.

        Curabitur sollicitudin et lorem non molestie. Phasellus eu suscipit orci. Nulla vitae turpis metus. Ut laoreet molestie ante ac accumsan. Sed pharetra, mi eget aliquet lobortis, velit eros pellentesque arcu, nec eleifend metus justo sit amet nisl. Aliquam tincidunt in lectus vel elementum. Aliquam libero lorem, consectetur non ipsum et, interdum sodales risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus eu condimentum neque.

        Phasellus id elit nunc. Aliquam ipsum mauris, facilisis sit amet orci ac, consectetur hendrerit massa. Aliquam justo velit, cursus scelerisque viverra ac, varius vel lacus. Curabitur tortor odio, aliquet ornare ultricies ac, placerat vitae turpis. Cras placerat nunc at vehicula dapibus. Fusce velit magna, ultrices sed ipsum eget, aliquet gravida nibh. Vivamus id dui diam. Vestibulum id pellentesque purus, sit amet tempus turpis. Praesent dapibus pretium lectus, id laoreet ligula semper a. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras sit amet velit mattis, hendrerit ligula sed, viverra enim. Nulla volutpat lacus id lectus dictum ultrices sed id lacus. Nulla leo massa, consectetur venenatis libero sit amet, fermentum euismod leo. Sed scelerisque laoreet sapien, sed malesuada enim tempus nec. Aliquam eu malesuada felis, ac consequat magna.

        Fusce nec sapien ut nunc vulputate lacinia. Cras vel massa blandit, fringilla dui eget, adipiscing diam. Ut vel orci at massa commodo iaculis eu a mi. In metus turpis, lacinia vel diam consectetur, imperdiet ullamcorper tellus. Ut non sagittis velit. Duis quis tincidunt sapien, quis aliquet orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam erat volutpat. Ut eget tempor lacus. Nunc eget dui quis libero posuere luctus. Proin tempus sodales egestas. Donec et hendrerit lorem, dapibus posuere neque. Pellentesque in justo enim. Ut ornare augue quis enim tincidunt, at porta urna volutpat. Quisque pellentesque dictum gravida. Cras nec magna vitae elit tincidunt tristique.

        Cras quis libero tortor. Pellentesque nec consequat sapien. Nullam quis mauris cursus, scelerisque diam in, interdum metus. Quisque rhoncus nibh vel neque vehicula, a fermentum mi fringilla. Mauris feugiat elementum tellus, at facilisis purus sollicitudin non. Cras laoreet hendrerit dui, ac gravida tellus porttitor eget. Suspendisse nec tempor augue. Nulla facilisi. Sed libero est, eleifend non lacinia et, vehicula a ante. Praesent in mollis arcu, sit amet euismod orci. Curabitur mauris enim, congue eu fringilla at, laoreet ut enim. Aliquam tempus vel libero a porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur, turpis dictum consectetur adipiscing, est augue faucibus mi, tincidunt malesuada est sapien a lectus.

        Curabitur porta ut sapien eu iaculis. Aliquam eleifend adipiscing sapien in ornare. Aliquam sed nisl vehicula, commodo urna a, ultricies leo. Aenean fermentum justo iaculis neque scelerisque congue. Suspendisse potenti. Sed commodo tempus nisl et blandit. Nunc mollis vestibulum ornare. Fusce libero ante, tempus vel bibendum eget, consequat eget dolor. Maecenas consectetur tristique ipsum, quis condimentum tortor dignissim ac. Nam viverra, tortor nec venenatis ultrices, odio sapien volutpat ipsum, at interdum eros nunc sit amet velit. Maecenas accumsan purus sit amet mi tincidunt, laoreet fermentum augue malesuada. Aenean venenatis molestie sapien sit amet ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

        Donec rhoncus tincidunt felis quis accumsan. Aenean cursus ante lectus, eget ullamcorper ante dignissim vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra metus a tortor iaculis lacinia. Nunc aliquet odio sit amet arcu cursus, eget accumsan eros ultrices. Etiam suscipit facilisis est et gravida. Nam euismod mollis nunc, eget aliquam risus volutpat nec. Nulla tempor est sapien, pretium sagittis dui euismod eget. Vestibulum est augue, iaculis a dictum sit amet, euismod auctor tortor.

        Sed ultricies pretium erat eget porttitor. Ut pharetra diam ut pretium rutrum. Fusce placerat orci id nisl sodales, id posuere velit placerat. Mauris eget dui commodo, venenatis velit quis, lacinia tortor. Suspendisse laoreet vehicula libero eu rutrum. Aenean pharetra, nisl sit amet posuere tempus, enim diam fermentum magna, non bibendum nulla libero ut nunc. Nullam turpis odio, egestas nec metus sit amet, sollicitudin volutpat massa. Etiam et adipiscing enim. Proin quis nulla non metus accumsan vulputate sed eu mi. Duis commodo risus vitae bibendum eleifend. In dictum, dolor vel lobortis suscipit, augue nisi fermentum leo, et vehicula arcu velit sit amet augue. Aliquam sed sollicitudin dolor, quis blandit massa.

        Suspendisse tincidunt sit amet tellus non dignissim. In nulla enim, interdum eget viverra et, sagittis id urna. Donec arcu quam, iaculis ut interdum aliquam, aliquet et purus. Proin vitae tortor lorem. Aliquam interdum magna erat, vel ultrices risus accumsan vel. Ut vel adipiscing dui. Pellentesque faucibus libero at odio tincidunt, id porttitor augue sodales. Sed sagittis magna nisi, sit amet adipiscing quam scelerisque sed. Phasellus venenatis nisl odio.
    </div>
</div>
}