<!DOCTYPE html>
<html>
<head>
    <link href="~/site.min.css" rel="stylesheet"
          asp-fallback-href="~/site.css"
          asp-fallback-test-class="hidden"
          asp-fallback-test-property="visibility"
          asp-fallback-test-value="hidden" />
</head>
<body>
    @RenderBody()
</body>
</html>