@page
<html>
    <head>
        <title>Razor UTF-8 Testing</title>
    </head>
    <body>
        <h1>Welcome to the UTF-8 test website, where all of your dreams come true.</h1>
        <div><a href="/utf16large">UTF-16 (RTM) Large - 418kb</a></div>
        <div><a href="/utf8large">UTF-8 (Experimental) Large - 418kb</a></div>
        <div><a href="/utf16medium">UTF-16 (RTM) Medium - 179kb</a></div>
        <div><a href="/utf8medium">UTF-8 (Experimental) Medium - 179kb</a></div>
        <div><a href="/utf16small">UTF-16 (RTM) Small - 11kb</a></div>
        <div><a href="/utf8small">UTF-8 (Experimental) Small - 11kb</a></div>
    </body>
</html>