@page
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" lang="en-US" style="font-size:62.5%" class="hiperf" dir="ltr">

<head data-info="v:2.0.5798.31020;a:cc7227b7-f7fe-4e3b-b644-226f3ef2c489;cn:125;az:{did:1f802c514e1c42e385b028b15ac20ce4, rid: 125, sn: westus-hp, dt: 2015-11-16T22:01:08.0825616Z, bt: 2015-11-17T01:14:47.5617874Z};ddpi:1;dpio:;dpi:1;dg:tmx.pc.webkit.chrome;th:start;PageName:startPage;m:en-us;cb:;l:en-us;mu:en-us;ud:{cid:,vk:homepage,n:,l:en-us,ck:};xd:AA3iOMG;ovc:f;al:;fxd:t;xdpub:2015-11-18 20:26:50Z;xdmap:2015-11-18 20:30:01Z;axd:;f:muidflt2cf,muidflt9-ismsft,d-thshldie1,d-thshldie2" data-js="{&quot;dpi&quot;:1.0,&quot;ddpi&quot;:1.0,&quot;dpio&quot;:null,&quot;forcedpi&quot;:null,&quot;dms&quot;:6000,&quot;bds&quot;:7,&quot;dg&quot;:&quot;tmx.pc.webkit.chrome&quot;,&quot;ssl&quot;:false,&quot;moduleapi&quot;:&quot;http://www.msn.com/en-us/homepage/api/modules/fetch&quot;,&quot;cdnmoduleapi&quot;:&quot;http://static-hp-wus.s-msn.com/en-us/homepage/api/modules/cdnfetch&quot;,&quot;pdpdeltaupdateapi&quot;:&quot;http://www.msn.com/en-us/homepage/api/pdp/updatepdpdata&quot;,&quot;xd&quot;:&quot;aa3iomg&quot;,&quot;signedin&quot;:1,&quot;sso&quot;:&quot;&quot;,&quot;exchangeenabled&quot;:true,&quot;twitterimpenabled&quot;:true}" data-client-settings="{&quot;geo_country&quot;:&quot;us&quot;,&quot;os_region&quot;:&quot;&quot;,&quot;apps_locale&quot;:&quot;&quot;,&quot;base_url&quot;:&quot;/en-us/homepage/&quot;,&quot;aid&quot;:&quot;cc7227b7f7fe4e3bb644226f3ef2c489&quot;,&quot;sid&quot;:null,&quot;v&quot;:&quot;2.0.5798.31020&quot;,&quot;static_page&quot;:false,&quot;fbid&quot;:&quot;132970837947&quot;,&quot;lvk&quot;:&quot;homepage&quot;,&quot;vk&quot;:&quot;homepage&quot;,&quot;cat&quot;:null,&quot;autorefresh&quot;:true,&quot;bingssl&quot;:false,&quot;autorefreshsettings&quot;:{&quot;is_market_enabled&quot;:false,&quot;timeout&quot;:0,&quot;idle_enabled&quot;:false,&quot;idle_timeout&quot;:&quot;2&quot;},&quot;uipr&quot;:true,&quot;uiprsettings&quot;:{&quot;enabled&quot;:true,&quot;frequency_minutes&quot;:&quot;5&quot;,&quot;banner_delay_minutes&quot;:null,&quot;maxfresh_display&quot;:null,&quot;minfresh_count&quot;:&quot;5&quot;,&quot;ajaxtimeoutinseconds&quot;:&quot;60&quot;},&quot;imgsrc&quot;:{&quot;quality_high&quot;:&quot;60&quot;,&quot;quality_low&quot;:&quot;5&quot;,&quot;order_timeout&quot;:&quot;1000&quot;},&quot;adsettings&quot;:{&quot;wait_for_ad_in_sec&quot;:&quot;3&quot;,&quot;retry_for_ad&quot;:&quot;2&quot;},&quot;mecontroluri&quot;:&quot;https://mem.gfx.ms/meversion/?partner=msn&amp;market=en-us&quot;,&quot;lazyload&quot;:{&quot;enabled&quot;:false,&quot;scroll_buffer&quot;:&quot;&quot;}}" data-xd-id="AA3iOMG" data-pdp-stale="true">
    <meta charset="utf-8" />
    <script>var _timing = { start: +new Date }</script>

    <link rel="dns-prefetch" href="//img-s-msn-com.akamaized.net" />
    <link rel="dns-prefetch" href="//rad.msn.com" />
    <link rel="dns-prefetch" href="//otf.msn.com" />
    <link rel="dns-prefetch" href="//c.msn.com" />
    <link rel="dns-prefetch" href="http://www.bing.com" />
    <link rel="canonical" href="http://www.msn.com/" />
    <link rel="alternate" hreflang="en-us" href="http://www.msn.com/en-us" />
    <meta name="msapplication-TileColor" content="#224f7b" />
    <meta name="msapplication-TileImage" content="//static-hp-wus.s-msn.com/sc/1f/08ced4.png" />
    <meta name="msapplication-config" content="none" />
    <meta name="robots" content="noydir,noodp" />
    <title>MSN.com - Hotmail, Outlook, Skype, Bing, Latest News, Photos &amp; Videos</title>
    <meta name="description" content="The new MSN, Your customizable collection of the best in news, sports, entertainment, money, weather, travel, health, and lifestyle, combined with Outlook, Facebook, Twitter, Skype, and more." />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta property="og:url" content="http://www.msn.com/" />
    <meta property="og:title" content="MSN.com - Hotmail, Outlook, Skype, Bing, Latest News, Photos &amp; Videos" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="MSN" />
    <meta property="og:image" content="http://static-hp-wus.s-msn.com/sc/c6/519670.jpg" />
    <meta property="fb:app_id" content="689384617806917" />
    <link rel="shortcut icon" href="//static-hp-wus.s-msn.com/sc/2b/a5ea21.ico" />
    <script>_timing.head = +new Date</script>
    <style>
        .flthighdensity .popularnow h3::before {
            display: none
        }

        .skypefreoverlay .win10promo {
            display: none !important
        }

        .spartan #main .paging-container.snap {
            overflow-x: hidden
        }

        #main .onenote .meflyout time, #main .office .meflyout time {
            display: none
        }

        #main .poc.topsites li {
            width: 14.2%
        }

        #main .simple.poc.topsites a {
            height: 16.5rem;
            width: 16.5rem
        }

        .facebook .meflyout > section ul li a span::before {
            line-height: inherit;
            top: .25rem;
            left: 1.25rem;
            position: absolute
        }

        .facebook .meflyout > section ul li:nth-child(4) a span::before {
            top: .5rem
        }

        .facebook .meflyout > section ul li a span {
            position: relative
        }

        #addRemoveSectionsModalContainer #addRemoveSectionsModal {
            display: block
        }

        .promobanner.popup .refreshbody {
            height: auto
        }

        .ie8 #maincontent {
            height: auto !important
        }

        .ie8 #content {
            height: auto !important
        }

        .ie8 #main {
            height: auto !important
        }

        .mobile .galleryinfo .img-divider {
            display: none
        }

        .homepage.tmx.pc.chrome #main .one-col, .homepage.tmx.pc.chrome #main .two-col, .homepage.tmx.pc.chrome #main .three-col {
            margin-right: -.016rem;
            margin-left: -.016rem
        }

        .homepage.midlevel .pagingsection > button.show, .channelplayerpage.midlevel .pagingsection > button.show {
            display: none
        }
    </style>
    <script>
            window._flushTimings && (window._flushTimings.HtmlHeadEnd = new Date - window.performance.timing.navigationStart);
    </script>

</head>

<body class="startpage sp center-content start tmx pc webkit chrome fltmuidflt2cf fltmuidflt9-ismsft fltd-thshldie1 fltd-thshldie2">

    <script>_timing.top = +new Date</script>
    <script>
                require(["headData", "pageInstance", "mediator"], function (headData, pageInstance, mediator)
                {
                    var url = '//c.msn.com/c.gif?udc=true&rid=cc7227b7f7fe4e3bb644226f3ef2c489&rnd=635834754140845569&rf=&tp=http%253A%252F%252Fwww.msn.com%252F&di=340&lng=en-us&cv.product=prime&pn=startpage&activityId=cc7227b7f7fe4e3bb644226f3ef2c489&d.dgk=tmx.pc.webkit.chrome&d.imd=0';
                    if (headData && headData.clientSettings && headData.clientSettings.static_page)
                    {
                        mediator.pub(pageInstance.eventName);
                        var rid = pageInstance.getActivityId();
                        url = url.replace(/([?&]rid=)[^&#]*/i, "$1" + rid);
                    }
                    var img = new Image();
                    img.onload = img.onerror = function ()
                    {
                        img.onload = img.onerror = null;
                    };
                    img.src = url;
                });
    </script>
    <div class="head">




        <header id="header-common" class="no-overlay" role="banner" data-region="header" data-id="1" data-m='{"i":1,"n":"header","y":6}'>




            <h1>
                <a class="logo" href="/en-us" data-id="2" data-m='{"i":2,"p":1,"n":"msnlogo","y":14,"l":"homepage","o":1}'>
                    msn  <span class="logohover">refresh page</span>
                </a>
                <a class="vertical" href="/en-us/#tevt=click_nonnav" data-id="3" data-m='{"i":3,"p":1,"n":"HeaderVerticalLink","y":14,"l":"homepage","o":2}'>msn</a>

            </h1>

            <ul>
                <li>

                    <section id="header-search" role="search" data-aop="search" data-id="4" data-m='{"i":4,"p":1,"n":"headersearch","y":9,"o":3}'>
                        <form action="http://www.bing.com/search?scope=web" method="get" id="srchfrm" target="_blank" data-form-code="PRUSEN" data-bing-action-uri="http://www.bing.com/search?scope=web">


                            <button id="sb_form_go" class="text" title="web search">web search</button>

                            <button type="button" name="bingSearch" class="image" title="web search"></button>
                            <div class="qc">
                                <input id="q" name="q" tabindex="1" accesskey="S" autocomplete="off" type="search" value="" maxlength="250"
                                       aria-label="Search:"
                                       data-id="5" data-m='{"i":5,"p":4,"n":"searchinput","y":9,"o":1}'>

                                <script>require(["perfMarker"], function (perfMarker) { var q = document.getElementById("q"); if (q) { q.focus(); perfMarker("TimeToFirstSearchInteractive", true) } })</script>
                            </div>
                            <input type="hidden" name="form" value="PRUSEN" data-id="6" data-m='{"i":6,"p":4,"n":"search_formcode","y":9,"l":"PRUSEN","o":2}'>
                            <input type="hidden" name="mkt" value="en-us" data-id="7" data-m='{"i":7,"p":4,"n":"search_locale","y":9,"l":"en-us","o":3}'>
                            <input type="hidden" name="refig" value="cc7227b7f7fe4e3bb644226f3ef2c489">
                        </form>
                        <button type="button" id="sb"></button>

                    </section>
                </li>
</body>
</html>