@page
@utfeight
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" lang="en-US" style="font-size:62.5%" class="hiperf" dir="ltr">

<head data-info="v:2.0.5798.31020;a:cc7227b7-f7fe-4e3b-b644-226f3ef2c489;cn:125;az:{did:1f802c514e1c42e385b028b15ac20ce4, rid: 125, sn: westus-hp, dt: 2015-11-16T22:01:08.0825616Z, bt: 2015-11-17T01:14:47.5617874Z};ddpi:1;dpio:;dpi:1;dg:tmx.pc.webkit.chrome;th:start;PageName:startPage;m:en-us;cb:;l:en-us;mu:en-us;ud:{cid:,vk:homepage,n:,l:en-us,ck:};xd:AA3iOMG;ovc:f;al:;fxd:t;xdpub:2015-11-18 20:26:50Z;xdmap:2015-11-18 20:30:01Z;axd:;f:muidflt2cf,muidflt9-ismsft,d-thshldie1,d-thshldie2" data-js="{&quot;dpi&quot;:1.0,&quot;ddpi&quot;:1.0,&quot;dpio&quot;:null,&quot;forcedpi&quot;:null,&quot;dms&quot;:6000,&quot;bds&quot;:7,&quot;dg&quot;:&quot;tmx.pc.webkit.chrome&quot;,&quot;ssl&quot;:false,&quot;moduleapi&quot;:&quot;http://www.msn.com/en-us/homepage/api/modules/fetch&quot;,&quot;cdnmoduleapi&quot;:&quot;http://static-hp-wus.s-msn.com/en-us/homepage/api/modules/cdnfetch&quot;,&quot;pdpdeltaupdateapi&quot;:&quot;http://www.msn.com/en-us/homepage/api/pdp/updatepdpdata&quot;,&quot;xd&quot;:&quot;aa3iomg&quot;,&quot;signedin&quot;:1,&quot;sso&quot;:&quot;&quot;,&quot;exchangeenabled&quot;:true,&quot;twitterimpenabled&quot;:true}" data-client-settings="{&quot;geo_country&quot;:&quot;us&quot;,&quot;os_region&quot;:&quot;&quot;,&quot;apps_locale&quot;:&quot;&quot;,&quot;base_url&quot;:&quot;/en-us/homepage/&quot;,&quot;aid&quot;:&quot;cc7227b7f7fe4e3bb644226f3ef2c489&quot;,&quot;sid&quot;:null,&quot;v&quot;:&quot;2.0.5798.31020&quot;,&quot;static_page&quot;:false,&quot;fbid&quot;:&quot;132970837947&quot;,&quot;lvk&quot;:&quot;homepage&quot;,&quot;vk&quot;:&quot;homepage&quot;,&quot;cat&quot;:null,&quot;autorefresh&quot;:true,&quot;bingssl&quot;:false,&quot;autorefreshsettings&quot;:{&quot;is_market_enabled&quot;:false,&quot;timeout&quot;:0,&quot;idle_enabled&quot;:false,&quot;idle_timeout&quot;:&quot;2&quot;},&quot;uipr&quot;:true,&quot;uiprsettings&quot;:{&quot;enabled&quot;:true,&quot;frequency_minutes&quot;:&quot;5&quot;,&quot;banner_delay_minutes&quot;:null,&quot;maxfresh_display&quot;:null,&quot;minfresh_count&quot;:&quot;5&quot;,&quot;ajaxtimeoutinseconds&quot;:&quot;60&quot;},&quot;imgsrc&quot;:{&quot;quality_high&quot;:&quot;60&quot;,&quot;quality_low&quot;:&quot;5&quot;,&quot;order_timeout&quot;:&quot;1000&quot;},&quot;adsettings&quot;:{&quot;wait_for_ad_in_sec&quot;:&quot;3&quot;,&quot;retry_for_ad&quot;:&quot;2&quot;},&quot;mecontroluri&quot;:&quot;https://mem.gfx.ms/meversion/?partner=msn&amp;market=en-us&quot;,&quot;lazyload&quot;:{&quot;enabled&quot;:false,&quot;scroll_buffer&quot;:&quot;&quot;}}" data-xd-id="AA3iOMG" data-pdp-stale="true">
    <meta charset="utf-8" />
    <script>var _timing = { start: +new Date }</script>

    <link rel="dns-prefetch" href="//img-s-msn-com.akamaized.net" />
    <link rel="dns-prefetch" href="//rad.msn.com" />
    <link rel="dns-prefetch" href="//otf.msn.com" />
    <link rel="dns-prefetch" href="//c.msn.com" />
    <link rel="dns-prefetch" href="http://www.bing.com" />
    <link rel="canonical" href="http://www.msn.com/" />
    <link rel="alternate" hreflang="en-us" href="http://www.msn.com/en-us" />
    <meta name="msapplication-TileColor" content="#224f7b" />
    <meta name="msapplication-TileImage" content="//static-hp-wus.s-msn.com/sc/1f/08ced4.png" />
    <meta name="msapplication-config" content="none" />
    <meta name="robots" content="noydir,noodp" />
    <title>MSN.com - Hotmail, Outlook, Skype, Bing, Latest News, Photos &amp; Videos</title>
    <meta name="description" content="The new MSN, Your customizable collection of the best in news, sports, entertainment, money, weather, travel, health, and lifestyle, combined with Outlook, Facebook, Twitter, Skype, and more." />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />

    <link rel="stylesheet" href="//static-hp-wus.s-msn.com/en-us/homepage/_sc/css/6670b51d-4447aea4/direction=ltr.locales=en-us.themes=start.dpi=resolution1x/41-3299bd-2398dbc7/15-1b2d30-cb5e86eb/ec-c81f48-68ddb2ab/94-54ee79-4da0aefe/68-5613fa-6e6bf72e/62-225de0-292e10cc/83-32dc10-d55835e5/1b-aa34e2-d3c67b4a/60-83a32c-dbc6220a/14-b369eb-68bc8d97/ac-424960-129ee0ba/a4-acab8a-7367fee7/9d-b518e7-1b727fa2/a4-4cafe3-87c69f5d/49-ceacc9-3d54e7d0/59-ad48eb-dc5096f6/finance-css-e1-9b1a1f6f2e4be7f0f33748a6957e77-435afe8c/finance-css-6b-e41845462f63eb7b07c7d029e798ac-d3e3be75/54-56da71-64eec2/a8-36a2a3-b0fab04f/39-494f2f-4b5f58d3?ver=2.0.5798.31020&amp;fdhead=muidflt2cf,muidflt9-ismsft,d-thshldie1,d-thshldie2&amp;csopd=20151117233351&amp;csopdb=20151110211845" media="all" />
    <script>(function(n){function i(i,r){try{var u=new n.FontFace(i,r,{}).load();t.push(u)}catch(f){}}var t=[];typeof n.FontFace=="function"&&i("ps_g","url(//static-hp-wus.s-msn.com/sc/45/c9e14a.woff)")})(window),function(n,t){function o(n,i,r){typeof n!="string"&&(r=i,i=n,n=t);i&&i.splice||(r=i,i=[]);n=="c.dom"&&(l=!0);s(n,i,r)}function s(n,t,i,r){var e,o,s,h;n&&u[n]||(e=k(n,t),e?(s=typeof i=="function",h=l&&s&&n!="dap"&&n!="adLoad"&&t&&(t.length!=1||t[0]!="dap"&&t[0]!="c.dom"),h?setTimeout(function(){o=i.apply(null,e);a(n,o)},1):(o=s?i.apply(null,e):i,a(n,o))):f.push(r||{i:n,d:t,f:i}))}function a(t,i){t&&(i?(u[t]=i,v()):n.console&&console.error("Dependencies resolved, but object still not defined (or is otherwise falsey). id:"+t+"; typeof obj: "+typeof i))}function v(){var r,u,n,t;if(f.length&&!i){do for(r=f,u=r.length,f=[],i=1,t=0;t<u;t++)n=r[t],s(n.i,n.d,n.f,n);while(i>1);i=0}else i&&(i=2)}function k(i,r){for(var s,v,h,f=[],c=r?r.length:0,o=0;o<c;o++){var l=r[o],a=u[l],y=typeof a!="undefined";if(!y){if(s=b.exec(l),s)if(v=s[1],h=n[v],h!==t){f.push(h);continue}else e||(e=setTimeout(d,w));break}f.push(a)}return c==f.length?f:0}function d(){e=0;v()}function g(n,i,r){(typeof n!="object"||n&&n.splice)&&(r=i,i=n,n={});i&&i.splice||(r=i,i=[]);nt(n.js);r&&s(t,i,r)}function nt(n){if(typeof n=="string")y(n);else if(n)for(var t=0;t<n.length;t++)y(n[t])}function y(n){if(!c[n]){c[n]=1;var i=document.getElementsByTagName("script")[0],t=document.createElement("script");t.src=n;t.onload=t.onreadystatechange=function(){this.readyState&&this.readyState!="loaded"&&this.readyState!="complete"||(t.onload=t.onreadystatechange=null,t.parentNode&&t.parentNode.removeChild(t))};i.parentNode.insertBefore(t,i)}}function tt(n){return p?n?r.now():Math.round(r.now()):new Date-h}var r=n.performance,h=((r||{}).timing||{}).navigationStart||(n._timing||{}).start||+new Date,p=r&&typeof r.now=="function",u={date:Date,document:document,image:Image,localStorage:n.localStorage,location:document.location,navigator:navigator,pageStart:h,pageTime:tt,screen:screen,window:n},f=[],i,w=50,e,c={},l=!1,b=/^window\.(.+)$/;o.amd={jQuery:1};o.is=function(n){return typeof u[n]!="undefined"};n.define=o;n.require=g}(window);define("perfPing",function(){function n(n){require(["w3cTimer"],n)}function t(t){n(function(n){n.mark(t)})}function i(t){n(function(n){n.fire();typeof t=="function"&&t(n.payload)})}return{setMarker:t,getPayLoad:i}});define("perfMarker",["window"],function(n){function s(){return f?t.now()|0:i&&o()-i}var t=n.performance,r;if(!t)return function(){};var f=typeof t.now=="function",e=typeof t.mark=="function",i=(t.timing||{}).navigationStart,o=typeof Date.now=="function"?Date.now:function(){return+new Date},u;return u=n.console&&typeof console.timeStamp=="function",r=n._pageTimings||(n._pageTimings={}),function(n,f){var o,h;typeof n!="string"||f&&r[n]||(o=typeof f=="number",o||(e&&t.mark(n),u&&console.timeStamp(n)),f&&(h=o?Math.round(f-i):s(),h&&(r[n]=h)))}})</script>
    <script async="async" src="//ads1.msads.net/library/8.4/dapmsn.js"></script>
    <script async="async" src="//static-hp-wus.s-msn.com/_h/d6ea042c/webcore/externalscripts/jquery/jquery-2.1.1.min.js" crossorigin="anonymous"></script>
    <script async="async" src="//static-hp-wus.s-msn.com/en-us/homepage/_sc/js/6670b51d-4af99b54/direction=ltr.locales=en-us.themes=start.dpi=resolution1x/db-99f9c3-23e92428/77-7209e9-6f8089e5/ed-fa8007-5599dabd/75-4a37b1-68ddb2ab/8a-b93261-68ddb2ab/8d-b97045-d1f8fb43/72-de97a3-68ddb2ab/finance-js-7e-4f8743b93a8937f16c7e79bc406825-e5780970/aa-fbd291-3e76eb4d/d1-e0486e-69add1ed/72-ff091d-68ddb2ab?ver=2.0.5798.31020&amp;fdhead=muidflt2cf,muidflt9-ismsft,d-thshldie1,d-thshldie2&amp;csopd=20151117233351&amp;csopdb=20151110211845" crossorigin="anonymous"></script>
    <script>define("headData",["evaluate","document"],function(n,t){var r=t.getElementsByTagName("head")[0],i,u,f;return r?(i={},u=r.getAttribute("data-js"),u&&(i=n(u)),f=r.getAttribute("data-client-settings"),f&&(i.clientSettings=n(f)),i.xdid=r.getAttribute("data-xd-id"),i.locale=t.getElementsByTagName("html")[0].getAttribute("lang").toLowerCase(),i):{}});define("deviceGroup",function(){return{isTmx:1,isPc:1,isWebKit:1,isChrome:1}});define("measure",function(){return function(n,t){var i=window.getComputedStyle(n);return t?i[t]||i.getPropertyValue(t):function(n){return i[n]||i.getPropertyValue(n)}}});define("deviceInit",function(){function u(i){return n[t(i)]}function f(i){return n[t(i)]=="true"}var n={},t=function(n){return n.toUpperCase()},i,r={capability:u,isCapable:f};return function(u){var f,e;if(i)throw"device was already initialized.";for(f in u)e=u[f],n[t(f)]=e;i=1;define("device",r)}});define("requestAnimationFrame",["window"],function(n){return function(){return n.requestAnimationFrame||n.webkitRequestAnimationFrame||n.mozRequestAnimationFrame||n.oRequestAnimationFrame||n.msRequestAnimationFrame||function(t){typeof t=="function"&&n.setTimeout(t,16.7)}}()});define("mediator",function(){function i(n){return t[n]||(t[n]=new r),t[n]}function r(){var n={};return{pub:function(t,i){var u=n[t],r;if(u)for(r=0;r<u.length;r++)u[r](i)},sub:function(t,i){if(typeof i=="function"){var r=n[t];r||(r=[],n[t]=r);r.push(i)}},unsub:function(t,i){var u=n[t],r;if(u)for(r=0;r<u.length;r++)u[r]===i&&u.splice(r--,1)}}}var n=new r,t={};return{pub:n.pub,sub:n.sub,unsub:n.unsub,pubChannel:function(n,t,r){i(t).pub(n,r)},subChannel:function(n,t,r){i(t).sub(n,r)},unsubChannel:function(n,t,r){i(t).unsub(n,r)}}});define("mediaQueryMatch",["device","deviceGroup","mediator","requestAnimationFrame","window"],function(n,t,i,r,u){function s(){function e(n,t){var i=n.exec(t);return i?i[1]*16:null}function n(){r(function(){t=u.innerWidth;f=u.innerHeight;for(var n=0;n<o.length;n++)h(o[n])})}function h(n){var r=p(n),t,i;if(n.matches!=r)for(n.matches=r,i=0;t=n.queryFunctions[i];i++)typeof t=="function"&&t()}function p(n){var i=!n.maxWidth||t<=n.maxWidth,r=!n.minWidth||t>=n.minWidth,u=!n.maxHeight||f<=n.maxHeight,e=!n.minHeight||f>=n.minHeight;return i&&r&&u&&e}function c(n){return{isMatching:function(){return!1},addListener:function(){},matches:!1,media:n,queryFunctions:[]}}var l=/min\-width\:\s*(\d+(\.\d+)?)/,a=/max\-width\:\s*(\d+(\.\d+)?)/,v=/min\-height\:\s*(\d+(\.\d+)?)/,y=/max\-height\:\s*(\d+(\.\d+)?)/,t,f,o=[],s;return require(["jquery"],function(t){t(u).resize(function(){clearTimeout(s);s=setTimeout(n,50)});require(["c.deferred"],n);setTimeout(n,500);i.subChannel("update","mediaQuery",n)}),function(i){if(!i)return c(i);var r={addListener:function(n){typeof n=="function"&&r.queryFunctions.push(n)},isMatching:function(){return n(),r.matches},matches:!1,media:i,queryFunctions:[]};return(r.minWidth=e(l,i),r.maxWidth=e(a,i),r.minHeight=e(v,i),r.maxHeight=e(y,i),!r.minWidth&&!r.maxWidth&&!r.minHeight&&!r.maxHeight)?c(i):(t=u.innerWidth,f=u.innerHeight,h(r),o.push(r),r)}}function h(n){var t=f(n);return t.isMatching=function(){return t.matches},t}var f=u.msMatchMedia||u.matchMedia,e=f?h:null,o=n.isCapable("UseCustomMatchMedia");return!o&&e||s()});define("scaledView",[],function(){return{addListener:function(){},removeListener:function(){},isScaled:function(){return!1}}});require(["measure","scaledView","document"],function(n,t,i){function u(){r=f.rem=parseFloat(n(i.getElementsByTagName("head")[0],"font-size"))}function f(n){return n*r}function e(n){return n/r}var r;t.addListener(u);u();define("remToPixel",function(){return f});define("pixelToRem",function(){return e})});define("viewAwareInit",["deviceGroup","pageTime","mediaQueryMatch","document","remToPixel"],function(n,t,i,r){return function(t){function f(n,t){var r,u,f;n&&(r=n.match(/calc\((.*?)\)/),r&&r.length==2&&(n=n.replace(r[0],eval(r[1]))),u=i(n),f=u.isMatching(),f&&(e=t),u.addListener(function(){u.matches&&s(t)}),h.push({mq:u,viewValue:t}))}function s(n){e=n;for(var t=0;t<o.length;t++)o[t](e)}var u={NONE:0,SIZE1COLUMN:1,SIZE2COLUMN:2,SIZE3COLUMN:4,SIZE4COLUMN:8,SIZE12COLUMN:3,SIZE23COLUMN:6,SIZE34COLUMN:12,SIZE234COLUMN:14,SIZE1ROW:256,SIZE1ROWSIZE1COLUMN:257,SIZE1ROWSIZE2COLUMN:258,SIZE1ROWSIZE3COLUMN:260,SIZE1ROWSIZE4COLUMN:264,SIZE2ROW:512,SIZE2ROWSIZE1COLUMN:513,SIZE2ROWSIZE2COLUMN:514,SIZE2ROWSIZE3COLUMN:516,SIZE2ROWSIZE4COLUMN:520,ALL:783},o=[],h=[],e=n.isMobile?u.SIZE1ROWSIZE1COLUMN:u.SIZE2ROWSIZE4COLUMN;f(t.size1rowsize1column,u.SIZE1ROWSIZE1COLUMN);f(t.size2rowsize1column,u.SIZE2ROWSIZE1COLUMN);f(t.size1rowsize2column,u.SIZE1ROWSIZE2COLUMN);f(t.size2rowsize2column,u.SIZE2ROWSIZE2COLUMN);f(t.size1rowsize3column,u.SIZE1ROWSIZE3COLUMN);f(t.size2rowsize3column,u.SIZE2ROWSIZE3COLUMN);f(t.size1rowsize4column,u.SIZE1ROWSIZE4COLUMN);f(t.size2rowsize4column,u.SIZE2ROWSIZE4COLUMN);s(e);define("viewAware",{listen:function(n){typeof n=="function"&&(o.push(n),n(e))},views:u,currentView:function(){return e}})}});define("evaluate",function(){return window.JSON&&window.JSON.parse||function(n){return eval("("+n+")")}});define("screenDpiImpl",["window"],function(n){return function(){return n.devicePixelRatio||1}});define("dpi",["screenDpiImpl","headData","measure","deviceGroup","document","window","location"],function(n,t,i,r,u,f,e){var a=t.dpi||1,o={screen:1,detected:t.ddpi,override:t.dpio,forceServerDpi:t.forcedpi||!(typeof navigator.msManipulationViewsEnabled=="undefined"?!0:navigator.msManipulationViewsEnabled),server:a,client:a,dpiMultiplier:1,sizeMultiplier:1,refresh:!1},h,v,s,c,l;if(e.href.indexOf("nodpi=1")==-1&&(o.screen=n(o)),h=r.isMobile?[1.5,2.25,2.4,2.7]:[1,1.4,1.8,2],v=/<link[^>]*rel="stylesheet"[^>]*href="([^"]*)"[^>]*\/>/ig,o.forceServerDpi===!0)t.dpi=t.ddpi;else if(o.server!=o.screen){for(s=0;s<h.length;s++)if(c=h[s],o.screen<=c||s==h.length-1){o.dpiMultiplier=(o.client=c)/o.server;break}o.client!=o.server&&(u.cookie="dpio="+o.client+";path=/",o.refresh&&e.href.indexOf("dpir=1")==-1&&e.href.indexOf("dpio=")==-1&&require(["navigation"],function(n){var t=e.href.replace(/dpio=[\d.]*/,"");t+=(t.indexOf("?")==-1?"?":"&")+"dpir=1";n.navigate(t,!0)}))}return l=parseFloat(i(u.documentElement,"font-size")),l&&(o.sizeMultiplier=l/10/o.client),o});define("escape",["window"],function(n){function r(t){return t!=null&&n.encodeURI(t)||""}function u(t){return t!=null&&n.encodeURIComponent(t)||""}function f(n){return n!=null&&(""+n).replace(t,function(n){return i[n]||""})||""}var t=/["&'\/<>]/g,i={'"':"&quot;","&":"&amp;","'":"&#39;","/":"&#47;","<":"&lt;",">":"&gt;"};return{url:r,urlPart:u,html:f}});define("classList",["document"],function(n){function u(n){return r[n]||(r[n]=new RegExp("(\\s|^)"+n+"(\\s|$)"))}function i(n,t){return n.className?n.className.match(u(t)):!1}function f(n,t){i(n,t)||(n.className+=" "+t)}function o(n,t){i(n,t)?e(n,t):f(n,t)}function e(n,t){i(n,t)&&(n.className=n.className?n.className.replace(u(t)," "):!1)}var r=[],t=n.classList!=undefined;return{add:t?function(n,t){n.classList.add(t)}:f,remove:t?function(n,t){n.classList.remove(t)}:e,toggle:t?function(n,t){n.classList.toggle(t)}:o,contains:t?function(n,t){n.classList.contains(t)}:i}});define("viewport",["mediator","requestAnimationFrame","window","document"],function(n,t,i,r){function kt(){l=at();a=lt();(l!=s||a!=f)&&(u=!0,e=!0)}function g(){return{left:s,right:et,top:f,bottom:ot,width:h,height:c}}function ht(){u&&(s=l||at(),f=a||lt(),l=a=null,!nt&&f>yt&&(nt=!0,setTimeout(function(){define("c.scrolled",1)},ft)));o&&(h=i.innerWidth||r.documentElement.clientWidth,c=i.innerHeight||r.documentElement.clientHeight);(u||o)&&(et=s+h,ot=f+c);u=o=!1}function w(){if(e){pt=new Date;e=!1;var i=o,r=u,l=h,a=c,v=s,y=f;ht();i=i&&(a!=c||l!=h);r=r&&(v!=s||y!=f);i||r?(b||(b=setTimeout(function(){b=0;var t=g();n.pub(tt,t);r&&n.pub(it,t);i&&n.pub(rt,t)},ft)),dt(),setTimeout(w,ut)):t(w)}else t(w)}function dt(){v&&(st=+new Date,y||(y=setTimeout(function t(){y=v=!1;var i=new Date-st;i>d?n.pub(bt,k):y=setTimeout(t,d-i)},d)))}function ct(){u=!0;o=!0;e=!0}function lt(){if(typeof pageYOffset!="undefined")return pageYOffset;var t=r.body,n=r.documentElement;return n=n.clientHeight?n:t,n.scrollTop}function at(){if(typeof i.pageXOffset!="undefined")return i.pageXOffset;var t=r.body,n=r.documentElement;return n=n.clientWidth?n:t,n.scrollLeft}function gt(n){for(var i=null,t;n&&n.nodeName!="BODY"&&n.nodeName!="HTML";){if(t=n.getAttribute(wt),t){t=t.split(";");i={x:parseInt(t[0])||0,y:parseInt(t[1])||0};break}n=n.parentNode}return i}function ni(n,t,i,r){var u=n.getBoundingClientRect();if(!u.top&&!u.right&&!u.bottom&&!u.left)return 0;r||(r=g());var o=r.width*(t||0),s=r.height*(i||0),h={left:-o,right:r.width+o,top:0-s,bottom:r.bottom+s},f={left:u.left,right:u.right,top:u.top,bottom:u.bottom},e=gt(n.parentNode);return e&&(f.left+=e.x,f.right+=e.x,f.top+=e.y,f.bottom+=e.y),ti(h,f)}function ti(n,t){return!(t.left>n.right||t.right<n.left||t.top>n.bottom||t.bottom<n.top)}function vt(n,t){i.addEventListener(n,t,!1)}var e=!0,u=!0,o=!0,l=null,a=null,yt=10,nt,tt="viewport_change",it="viewport_scroll_change",rt="viewport_size_change",ut=parseInt("")||200,ft=50,b,s=0,et=0,f=0,ot=0,h=0,c=0,pt,wt="data-offset",k="",v=!1,y=0,d=1e3,st,bt="ViewabilityUpdatedEvent",p;return ht(),require(["c.dom"],ct),p="c.deferred",require([p],function(){i.setInterval(kt,ut);t(w)}),require([p],ct),vt("resize",function(){v=!0;k="resize";o=!0;e=!0}),vt("scroll",function(){v=!0;k="scroll";u=!0;e=!0}),{getDimensions:function(){return g()},changeEventName:tt,sizeChangeEventName:rt,scrollChangeEventName:it,isInViewport:ni,deferredCanaryName:p}});require(["window"],function(n){n._llic=function(n){require(["imgSrc"],function(t){t.checkLoad(n)})}});define("imgSrc",["viewAware","measure","dpi","evaluate","mediator","viewport","classList","window","document","image","headData","logging","perfMarker"],function(n,t,i,r,u,f,e,o,s,h,c,l){function ai(n,t){var i=n.getAttribute(t);if(i)try{return r(i)}catch(u){l.error("[imgSrc] error evaluating the '"+t+"' attribute: '"+i+"'",u)}}function vi(n,t){var u=!1,i=st(n),r;return i&&i.src&&t&&typeof t.find=="function"&&typeof t.filter=="function"&&(r=t.find("img[data-src]").filter(function(){return this.imgSrcObj&&this.imgSrcObj.loadedSrc==i.src}),r.length&&(i.loadingSrc=i.src,n.imgSrcObj=i,ii(n,i,r[0]),u=!0)),u}function st(n,t){var i=ai(n,ci),f,r,u;if(i){if(f=i.dpi||1,i=i[a]!==t?i[a]:i[v]!==t?i[v]:i["default"],r=typeof i,r=="string")i={src:i};else if(r!="object"||!i)return null;return i.dpi=f,i.src?(u=i.src.indexOf("//"),u>0&&(i.src=i.src.substring(u)),i.src=wi(i.src,ei)):i.src=bt,i}return null}function dt(n,t){var i,r;return n.onload=null,kt&&(i=st(n),i&&(r=kt==2||i.load!="wait"&&i.load!="defer"&&!e.contains(n,"wait")&&!e.contains(n,"defer")&&!n.getAttribute(it)&&gt(n)&&ht(n,i)&&(t||f.isInViewport(n,0,0)),r&&k(n,i,!0))),r}function yi(t){var i=g&&g!=t;g=t;switch(t){case n.views.SIZE1ROWSIZE1COLUMN:a="size1rowsize1column";v="size1column";break;case n.views.SIZE2ROWSIZE1COLUMN:a="size2rowsize1column";v="size1column";break;case n.views.SIZE1ROWSIZE2COLUMN:a="size1rowsize2column";v="size2column";break;case n.views.SIZE2ROWSIZE2COLUMN:a="size2rowsize2column";v="size2column";break;case n.views.SIZE1ROWSIZE3COLUMN:a="size1rowsize3column";v="size3column";break;case n.views.SIZE2ROWSIZE3COLUMN:a="size2rowsize3column";v="size3column";break;case n.views.SIZE1ROWSIZE4COLUMN:a="size1rowsize4column";v="size4column";break;default:a="size2rowsize4column";v="size4column"}i&&b()}function pi(n){return(n||s).getElementsByTagName("img")}function b(n){var o,u,i;if(ot)for(o=0,u=pi(n),i=0;i<u.length;i++){var t=u[i],r=ri(t),s=r&&r.load!="wait"&&!e.contains(t,"wait")&&!t.getAttribute(it)&&ht(t,r)&&(e.contains(t,"defer")||gt(t)&&f.isInViewport(t,si,hi));s&&(o++,k(t,r))}}function gt(n){do{if(t(n,"display")=="none")return!1;n=n.parentNode}while(n&&n.nodeName!="BODY");return!0}function wi(n,t){var i=n.match(li);return i&&i[y]!=t?n.replace(i[0],i[0].replace(i[y],t)):n}function bi(n,t){var r=n.match(pt),u,i,f;return r&&(u=r[y]*t+.5|0,n=n.replace(r[0],r[0].replace(r[y],u))),i=n.match(wt),i&&(f=i[y]*t+.5|0,n=n.replace(i[0],i[0].replace(i[y],f))),n}function ki(){tt=clearTimeout(tt)}function ni(){tt=setTimeout(function(){var t,n;for(ct=!0,t=0;t<p.length;t++)n=p[t],n.showFn&&(n.showFn(),n.showFn=null,n.shown=!0)},oi)}function ti(n,t,i){var u=n.imgSrcObj,f,e,o,r;if(i.src==u.loadingSrc){if(ct||u.shown){t();return}for(u.showFn=t,f=0;f<u.id;f++)if(e=p[f],e.isInViewport&&!e.shown){if(e.loadingSrc.load!=u.loadingSrc.load)continue;ni();return}for(o=u.id;o<p.length;o++)if(r=p[o],!r.shown&&r.isInViewport)if(r.showFn)ki(),r.showFn(),r.showFn=null,r.shown=!0;else{ni();return}}}function di(n,t,i){var r=d(n);t.src==r.loadingSrc&&(t.lowq&&i.loadingSrc==t.lowq?(t.lowqLoaded=!0,e.remove(n,at),k(n,t)):(n.src=t.src,e.remove(n,ft),e.remove(n,et),e.add(n,ut)))}function ii(n,t,r){var u=d(n);t.src==u.loadingSrc&&(u.loadedSrc=t.src,n.width=r.width*i.sizeMultiplier+.5|0,n.removeAttribute("height"),n.src=r.src,t.lowq&&r.loadingSrc==t.lowq?(t.lowqLoaded=!0,e.remove(n,at),k(n,t)):(e.add(n,et),e.remove(n,ut),e.remove(n,ft)))}function ht(n,t){if(!t||!t.src)return!1;var i=d(n);return i.loadedSrc!=t.src&&t.src!=i.loadingSrc}function ri(n,t){if(!n)return null;if(t)t.src||(t={src:t});else{if(t=st(n),!t)return null;var r=t.dpi||1;r!=i.client&&(t.src=bi(t.src,i.client/r))}return t}function ui(n,t){n&&(t=ri(n,t),ht(n,t)&&k(n,t))}function d(n){var t=n.imgSrcObj;return t||n.nodeName!="IMG"||(t={img:n,id:p.length},n.imgSrcObj=t,p[n.imgSrcObj.id]=t),t}function k(n,t){var r=d(n,t),u,i;r.isInViewport===undefined&&(r.isInViewport=!0);r.loadingSrc=t.src;t.w&&t.h?n.setAttribute(rt,"width:"+t.w+"rem;height:"+t.h+"rem;"):n.hasAttribute(rt)&&n.removeAttribute(rt);e.add(n,ft);e.remove(n,et);e.remove(n,ut);u=(t.lowqLoaded?null:t.lowq)||t.src;i=new h;i.onload=function(){i.onload=null;i.onerror=null;ti(n,function(){ii(n,t,i)},t)};i.onerror=function(){i.onload=null;i.onerror=null;ti(n,function(){di(n,t,i)},t)};i.src=i.loadingSrc=u}var g,a,v,nt=(c.clientSettings||{}).imgsrc||{},ei=nt.quality_high||60,gi=nt.quality_low||5,oi=nt.order_timeout||1e3,si=1,hi=1,ct=!1,tt,lt=100*i.client,it="data-noupdate",ci="data-src",rt="style",ut="err",ft="loading",et="loaded",at="lowq",vt=function(){return 10},yt=function(){return 10},p=[],y=2,pt=/([?&]w=|_w)(\d+)/,wt=/([?&]h=|_h)(\d+)/,li=/([?&]q=|_q)(\d+)/,bt="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7",kt={all:0,auto:1,none:2}[(location.search.match(/[?&]llibf=([^&#]+)/i)||[])[1]]||1,w,ot;return o._llic=dt,w=f.getDimensions(),n.listen(yi),ot=!1,require(["c.deferred"],function(){ot=!0;u.sub(f.changeEventName,function(n){var t=Math.abs(n.left-w.left+n.width-w.width),i=Math.abs(n.top-w.top+n.height-w.height);(t>vt()||i>yt())&&(vt=function(){return n.width/4},yt=function(){return n.height/4},w=n,b())});b()}),o.loadDeferredImages=b,{go:ui,reset:ui,noUpdate:it,data:bt,checkLoad:dt,isInViewport:f.isInViewport,loadInViewport:b,dataOffsetAttr:"data-offset",force:vi}});define("imageLoad",["imgSrc","classList","document","pageTime","window"],function(n,t,i,r,u){function a(){c();n.isInViewport?y():f(i.querySelectorAll("main img[data-src]"),s)}function v(n,t){typeof n=="string"&&(n=i.querySelector(n));c(n);o(n,t)}function s(n){var i;!n||n.src&&(t.contains(n,"loaded")||t.contains(n,"loading"))||l(n,i)&&n.setAttribute("data-initial-set","true")}function y(){function u(i){var u=!1,f;return!t.contains(i,"mestripeouter")&&i.querySelector("img[data-src]")&&(f=n.isInViewport(i,0,0),f?(r=!0,o(i)):r&&(u=!0)),u}var r;h(i.getElementById("precontent"));f((i.getElementById("main")||{}).childNodes,u);h(i.getElementById("aside"))}function h(t){var i=!1;return t&&t.querySelector("img[data-src]")&&n.isInViewport(t,0,0)&&(i=!0,o(t)),i}function c(n){e(".ip .swipenav>li:first-child+li img,.carousel .slides li+li img","defer",n);e(".sip .swipenav>li:first-child+li img,.carousel .slides li+li img","defer",n);e(".ip .swipenav>li+li+li img","wait",n);e(".sip .swipenav>li+li+li img","wait",n)}function f(n,t){var i,r;if(n&&n.length)for(i=0;r=n[i];++i)if(r.nodeType==1&&t(r))break}function e(n,r,u){f((u||i).querySelectorAll(n),function(n){t.add(n,r)})}function o(n,t){f(n.querySelectorAll("img[data-src]"),function(n){s(n,t)})}var l=n.checkLoad||u._llic;return{cleanup:a,module:v}});define("adCommon",["document","pageTime","classList","viewAware"],function(n,t,i,r){function e(n,t,i){n&&t&&i!==null&&typeof i!=undefined&&(n[t]=i)}function u(t,i){return i&&i.forcefulVisibilityInEffect?i.forceVisibilityOn:i&&i.options&&i.options.scrollInit?t&&(t.top||t.bottom||t.left||t.right)&&t.top<=(window.innerHeight||n.documentElement.clientHeight)&&t.bottom>=0&&t.left<=(window.innerWidth||n.documentElement.clientWidth)&&t.right>=0:!0}function o(t,r,u,f,e){var o=e||((n.getElementById(t)||{}).parentNode||{}).parentNode,s,h;o&&(((o.querySelector(".adchoices,.adchoicesjs")||{}).style||{}).display=f?"block":"none",r)&&(s=i.contains(o,"widead"),u||s)&&(o.style.display="",o.style.visibility="visible",s&&(h=o.querySelector(".outeradcontainer"),h&&(h.style.display="inline-block")))}function s(n,i,r,u){if(n&&i){var f=t();n[i]||(n[i]={});r?n[i].st=f:(n[i].en=f,u&&(n[i].r=u))}}function h(n,t){n&&(n.forcefulVisibilityInEffect||(n.clientRect=n.elem.getBoundingClientRect()),n.isVisible=u(n.clientRect,n),n.canBeDisplayed=f(n,t)&&!n.shouldHideAds,n.canBeDisplayed|=n.forceDisplayOn||n.canBeDisplayed)}function f(n,t){return t=t||r.currentView(),!!(t&n.allowedViews)}return{isPlacementVisible:u,setAdContainerDisplayState:o,updateElementData:e,isAllowedInView:f,recordTiming:s,checkAndSetAdVisibility:h}});define("dap",["viewAware","document","adCommon","dapmgr","evaluate","classList","viewport","pageTime"],function(n,t,i,r,u,f,e){function h(h,b,ft,et,ot,st){function ri(){var r=st&&st.forcefulVisibility,u=st&&st.forcefulDisplay,e=r===!0,o=u===!0,t,i,n;(s==undefined&&(s=st&&st.adaptiveRefresh===!0,s&&typeof st.adaptiveRefreshInterval=="number"&&(k=st.adaptiveRefreshInterval),s=!0),t=lt&&lt.parentNode&&lt.parentNode.parentNode,i=rt,t)&&(f.contains(t,"widead")?i=it:f.contains(t,"groupad")&&(i=ut),n=w[et],typeof n!="number"&&(n=nt++,w[et]=n),ht={params:h,width:b,height:ft,htmlid:et,options:st||{},allowedViews:oi(),sizeCharacteristics:{},clientRect:lt.getBoundingClientRect(),isRendered:!1,isLoaded:!1,isVisible:!1,canBeDisplayed:!1,forcefulDisplayInEffect:o||u===!1,forceDisplayOn:o,forcefulVisibilityInEffect:e||r===!1,forceVisibilityOn:e,canDisplayAdChoices:!1,isMonitored:!1,elem:lt,adType:i,idx:y.length,telemetry:{},currentRefreshCount:n,friendlyId:"",pg:"",shouldHideAds:bt,completionCb:ai},ht.friendlyId=ht.htmlid.substr(0,tt)+"_"+ht.idx,ht.pg=hi(h),y.push(ht),ui(),si())}function ui(){o?(o.sub(e.scrollChangeEventName,at),o.sub("adrefresh",ti)):require(["mediator"],function(n){o=n;o.sub(e.scrollChangeEventName,at);st.enableAdRefresh&&o.sub("adrefresh",ti)})}function fi(){o?o.sub(e.scrollChangeEventName,at):require(["mediator"],function(n){o=n;o.sub(e.scrollChangeEventName,at)})}function gt(){o?o.unsub(e.scrollChangeEventName,at):require(["mediator"],function(n){o=n;o.unsub(e.scrollChangeEventName,at)})}function at(){vt()}function ei(){require(["adDetection"],function(n){ht.detectionObject=n(ht);ht.detectionObject.startDetection()})}function vt(){!ht||pt||ht.isRendered||(i.checkAndSetAdVisibility(ht,ct),i.setAdContainerDisplayState(ht.htmlid,ht.isVisible,ht.canBeDisplayed||ht.isRendered,ht.canDisplayAdChoices),ht.isVisible&&ht.canBeDisplayed)&&(r.sandboxOptions=ht.options.sandbox,r.useXDomainIframe=ht.options.useXDomainFrame,i.recordTiming(ht.telemetry,"dap",!0,null),r.renderAd(ht.htmlid,ht.params,ht.width,ht.height,!1,ht),i.recordTiming(ht.telemetry,"dap",!1,""),++l,ht.isRendered=!0,r.useXDomainIframe||ei(),gt(),c||(dt(),a=ni()),wt())}function ni(){var t=n.views;return ct&t.SIZE1COLUMN&&1||ct&t.SIZE2COLUMN&&2||ct&t.SIZE3COLUMN&&3||ct&t.SIZE4COLUMN&&4||0}function oi(){var t,i;return lt&&(t=lt.getAttribute("data-adjs"),i=u(t).allowedViews,t)?n.views[i]||n.views.NONE:null}function si(){ht&&vt()}function hi(n){return(ii.exec(n)||{})[1]||""}function wt(){var n='{"w":'+v+',"h":'+p+',"c":'+a+',"v":'+(ht.isVisible?1:0)+',"d":'+(ht.canBeDisplayed?1:0)+',"r":'+(ht.isRendered?1:0)+',"s":'+yt+"}";ht.elem.setAttribute("data-ad",n)}function dt(){var n=e.getDimensions(),i;c&&c.width==n.width||(c=n,i=t.getElementById(d),v=i?i.offsetWidth:n.width,p=n.height)}function ti(){li();typeof ht.order=="number"?setTimeout(function(){vt()},ht.order):vt()}function ci(){var n=ht.elem.querySelector("iframe");n&&(n.src="about:blank");ht.elem.innerHTML=""}function li(){ci();ht.isRendered=!1;ht.isLoaded=!1;ht.isVisible=!1;ht.canBeDisplayed=!1;ht.canDisplayAdChoices=!1;ht.sizeCharacteristics.adSizeType=g;gt();fi()}function ai(){ht.isLoaded||(ht.isLoaded=!0,s?setTimeout(function(){--l},k):--l)}var ht,ct,yt,bt=!1,pt=!1,ii=/\bPG=([^&]*)/i,lt=t.getElementById(et),kt;(pt=st&&st.disableAds===!0,kt=st&&st.disableAdPlacement,bt|=pt,(bt||kt)&&(i.setAdContainerDisplayState(et,!0,!1,!1),pt||kt))||(n.listen(function(n){(ct=ct||n,ct!=n)&&(ct=n,a=ni(),dt(),wt(),vt())}),ri(),require(["scaledView"],function(n){yt=n.isScaled();wt();n.addListener(function(n){yt!=n&&(dt(),yt=n,wt())})}))}var a,c,v,p,d="header-common",g=0,o;r.enableUnblockingOnload&&r.enableUnblockingOnload(!0);var y=[],w={},nt=0,tt=15,l=0,b=!1,it=0,rt=2,ut=3,k,s;return h.adPlacements=y,h.adLoadedEvent="adloaded",h.adRerenderedEvent="adrerendered",h.refresh=function(){require(["adRefresh"],function(n){s&&(b=l>0);n.refresh(b)})},h});var c="c.dom";require(["jquery","imgSrc","mediator",c],function(n,t,i){function r(){n("#main").children().addClass("loaded");t.loadInViewport(n("#main")[0]);i.pub("revealLoaded")}r()});define("autoSizeFlex",["jquery","jqBehavior","mediator","pixelToRem","dir.tokens"],function(n,t,i,r,u){function f(n){function e(){var i;(t=n.children(":visible").last(),f.length&&t.length)&&(i=u.ltr?t.offset().left-n.offset().left+t.outerWidth():f.offset().left-t.offset().left+f.outerWidth(!0),n.width(r(i)+"rem"))}var t,f=n.children().first();return i.sub("tabChanged",e),{setup:e,update:e}}return t(f)});require(["binding","c.dom"],function(n){n("autoSizeFlex",".autosizeflex").all()});define("allPageBindings",function(){return function(n){var t=function(t){t(n)};require(["pageBindings"],t);require(["pageBindings.pc"],t);require(["pageBindings.pc-!ms.ie10plus"],t)}});require(["allPageBindings"],function(n){n("html")});define("navigation",["escape","location"],function(n,t){function r(n,t,i){var s=function(n){return n=n.replace(/\+/g," "),decodeURIComponent(n)},u={},o,e;if(n)for(n=n.split("#")[0],o=n.split("&"),e=0;e<o.length;e++){var h=o[e].split("="),r=h[0],f=h[1];i&&(r=s(r),f&&(f=s(f)));t?(u[r]||(u[r]=[]),u[r].push(f)):u[r]=f}return u}function u(n){var t=f.exec(n);return t?t[2]:!1}var f=/[a-z][a-z0-9+\-.]*:\/\/([a-z0-9\-._~%!$&'()*+,;=]+@@)?([a-z0-9\-._~%]+|\[[a-z0-9\-._~%!$&'()*+,;=:]+\])/i,i={getUrl:function(n){return i.filter?i.filter(n):n},navigate:function(n,r){i.filter&&(n=i.filter(n));r?t.replace(n):t.href=n},getHostName:u,isLocal:function(n){var i=u(n);return!i||t.hostname==i},getParams:r,getParamsFromUrl:function(n,t,i){var u=n.split("?")[1];return r(u,t,i)},mergeQueryStringParams:function(t,i){var e,f,o,u;if(i){if(e=t.split("?"),e[1]){f=r(e[1],!1,!0);for(u in i)f[u]=i[u]}else f=i;t=e[0];o="?";for(u in f)t+=f[u]?o+n.urlPart(u)+"="+n.urlPart(f[u]):o+n.urlPart(u),o="&"}return t},filter:null};return i});require(["logging","measure","document","c.onload"],function(n,t,i){var r=t(i.getElementsByTagName("head")[0]),u=r("boxSizing");u!="border-box"&&n.fatalError("C5001 Css was not loaded correctly.")});define("logging",["navigation","headData","requestAnimationFrame","window","document","pageTime","escape"],function(n,t,i,r,u,f,e){function rt(n,t){if(n.addEventListener)n.addEventListener("error",t,!1);else if(n.onerror){var i=n.onerror;n.onerror=function(n,r,u,f,e){return i(n,r,u,f,e),t(n,r,u,f,e)}}else n.onerror=t}function ut(){if(!o&&(o=n.getUrl(t.clientSettings.base_url+"_log"),!/[?&]fdhead=[^&#]*/i.test(o))){var i=(/\bf\:([^;]*)/.exec(u.getElementsByTagName("head")[0].getAttribute("data-info"))||{})[1]||"";i&&(o+=(o.indexOf("?")>0?"&":"?")+"fdhead="+i)}return o}function g(){c&&k&&!p&&(p=setTimeout(function(){(p=0,s.length)&&(d.ajax({type:"POST",url:ut(),data:{aid:t.clientSettings.aid,v:t.clientSettings.v,messages:s},error:function(n,t,i){a("error","[506] Could not log: "+n+" - "+t+" "+i);c=!1}}),s=[])},2e3))}function l(n,t){return(t==b&&n.indexOf("Script error")>=0&&(t=h),t==h)?"warn":t==y?"info":(c&&(s.push({m:e.urlPart(n),t:t,d:f()}),g()),t==y?"info":t==h?"warn":"error")}function a(n,t,i){if(r.console){if(!i&&n=="info")return;if(!i&&n=="warn")return;var u=console[n];u&&typeof u=="function"?console[n](t):console.log&&console.log(t)}}function v(n){var r=[],t,i;if(n)for(t=0;t<n.length;++t)i=nt(n[t]),i&&r.push(i);return r.join(", ")}function nt(n,t,i,u,f){var o=(n==null||typeof n=="string"?n:n.message||n.description)||"",e,s;return!o&&(n!=null&&(typeof n=="object"&&n.toString()=="[object Event]"?(e=r.event,e&&e.type=="error"&&(o=e.errorMessage,t=e.errorUrl,i=e.errorLine,u=e.errorCharacter)):o=n.toString()),!o)?"":(t=n.url||n.filename||t,i=n.lineno||i,u=n.colno||u,s=n.stack||n.error&&n.error.stack,o.trim()+(f||"")+(i?"\nLine="+i:"")+(u?"\nColumn="+u:"")+(t?"\nScriptUrl="+t:"")+(s?"\nStack="+s:""))}function ft(){var n=v(arguments);l(n,it);i(function(){var i=e.html("http://"+u.location.host),n=e.url(u.location.href);n.indexOf("https://")==0&&(n=n.replace("https://","http://"));u.getElementsByTagName("body")[0].innerHTML="<style>body{font-family:Arial;margin-left:40px}img{border:0 none}#content{margin-left:auto;margin-right:auto}#message h2{font-size:20px;font-weight:normal;color:#000;margin:34px 0 0 0}#message p{font-size:13px;color:#000;margin:7px 0 0 0}#errorref{font-size:11px;color:#737373;margin-top:41px}<\/style><div id='content'><div id='message'><h2>This page is not available right now<\/h2><p>We're working to restore it as soon as possible. Please check back soon.<br/><br/><a href=\""+e.html(n)+'">Click here<\/a> to try this page again, or visit: <a href="'+i+'">'+i+"<\/a><\/p><\/div><div id='errorref'><span>Ref 1: "+e.html(t.clientSettings.aid)+"&nbsp;&nbsp;&nbsp;Ref 2: "+e.html(t.clientSettings.sid||"000000")+"&nbsp;&nbsp;&nbsp;Ref 3: "+e.html(new Date)+"<\/span><\/div><\/div>"})}function tt(){var n=v(arguments);a(l(n,b),n,!0)}function et(){var n=v(arguments);a(l(n,h),n)}function ot(){var n=v(arguments);a(l(n,y),n)}function st(n){(r.console||{}).timeStamp?console.timeStamp(n):(r.performance||{}).mark&&r.performance.mark(n)}var w=0,it=-1,b=0,h=1,y=2,s=[],p,k,d,o,c=Math.random()*100<=10;return rt(r,function(n,t,i,r){return w++,n=nt(n,t,i,r," [ENDMESSAGE]"),n&&tt("[SCRIPTERROR] "+n),!0}),c&&require(["jquery","c.deferred"],function(n){k=!0;d=n;s.length&&g()}),{error:tt,fatalError:ft,unhandledErrorCount:function(){return w},perfMark:st,warning:et,information:ot}});require(["viewAwareInit"],function(n){n({size2row:"(min-height: 48.75em)",size1row:"(max-height: 48.74em)",size4column:"(min-width: 79em)",size3column:"(min-width: 58.875em) and (max-width: 78.99em)",size2column:"(min-width: 43.75em) and (max-width: 58.865em)",size2rowsize4column:"(min-width: 79em) and (min-height: 48.75em)",size2rowsize3column:"(min-width: 58.875em) and (max-width: 78.99em) and (min-height: 48.75em)",size2rowsize2column:"(max-width: 58.865em) and (min-height: 48.75em)",size1rowsize4column:"(min-width: 79em) and (max-height: 48.74em)",size1rowsize3column:"(min-width: 58.875em) and (max-width: 78.99em) and (max-height: 48.74em)",size1rowsize2column:"(max-width: 58.865em) and (max-height: 48.74em)"})});require(["deviceInit"],function(n){n({AllowTransform3d:"false",AllowTransform2d:"true",RtlScrollLeftAdjustment:"fromLeft",ShowMoveTouchGestures:"true",SupportFixedPosition:"true",UseCustomMatchMedia:null,Viewport_Behavior:"Default",Viewport_Landscape:null,Viewport:"width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no",IsMobileDevice:"false"})})</script>
    <meta property="sharing_url" content="http://www.msn.com/en-us" />
    <meta property="og:url" content="http://www.msn.com/" />
    <meta property="og:title" content="MSN.com - Hotmail, Outlook, Skype, Bing, Latest News, Photos &amp; Videos" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="MSN" />
    <meta property="og:image" content="http://static-hp-wus.s-msn.com/sc/c6/519670.jpg" />
    <meta property="fb:app_id" content="689384617806917" />
    <link rel="shortcut icon" href="//static-hp-wus.s-msn.com/sc/2b/a5ea21.ico" />
    <script>_timing.head = +new Date</script>
    <style>
        .flthighdensity .popularnow h3::before {
            display: none
        }

        .skypefreoverlay .win10promo {
            display: none !important
        }

        .spartan #main .paging-container.snap {
            overflow-x: hidden
        }

        #main .onenote .meflyout time, #main .office .meflyout time {
            display: none
        }

        #main .poc.topsites li {
            width: 14.2%
        }

        #main .simple.poc.topsites a {
            height: 16.5rem;
            width: 16.5rem
        }

        .facebook .meflyout > section ul li a span::before {
            line-height: inherit;
            top: .25rem;
            left: 1.25rem;
            position: absolute
        }

        .facebook .meflyout > section ul li:nth-child(4) a span::before {
            top: .5rem
        }

        .facebook .meflyout > section ul li a span {
            position: relative
        }

        #addRemoveSectionsModalContainer #addRemoveSectionsModal {
            display: block
        }

        .promobanner.popup .refreshbody {
            height: auto
        }

        .ie8 #maincontent {
            height: auto !important
        }

        .ie8 #content {
            height: auto !important
        }

        .ie8 #main {
            height: auto !important
        }

        .mobile .galleryinfo .img-divider {
            display: none
        }

        .homepage.tmx.pc.chrome #main .one-col, .homepage.tmx.pc.chrome #main .two-col, .homepage.tmx.pc.chrome #main .three-col {
            margin-right: -.016rem;
            margin-left: -.016rem
        }

        .homepage.midlevel .pagingsection > button.show, .channelplayerpage.midlevel .pagingsection > button.show {
            display: none
        }
    </style>
    <script>
            window._flushTimings && (window._flushTimings.HtmlHeadEnd = new Date - window.performance.timing.navigationStart);
    </script>

</head>

<body class="startpage sp center-content start tmx pc webkit chrome fltmuidflt2cf fltmuidflt9-ismsft fltd-thshldie1 fltd-thshldie2">

    <script>_timing.top = +new Date</script>
    <script>
                require(["headData", "pageInstance", "mediator"], function (headData, pageInstance, mediator)
                {
                    var url = '//c.msn.com/c.gif?udc=true&rid=cc7227b7f7fe4e3bb644226f3ef2c489&rnd=635834754140845569&rf=&tp=http%253A%252F%252Fwww.msn.com%252F&di=340&lng=en-us&cv.product=prime&pn=startpage&activityId=cc7227b7f7fe4e3bb644226f3ef2c489&d.dgk=tmx.pc.webkit.chrome&d.imd=0';
                    if (headData && headData.clientSettings && headData.clientSettings.static_page)
                    {
                        mediator.pub(pageInstance.eventName);
                        var rid = pageInstance.getActivityId();
                        url = url.replace(/([?&]rid=)[^&#]*/i, "$1" + rid);
                    }
                    var img = new Image();
                    img.onload = img.onerror = function ()
                    {
                        img.onload = img.onerror = null;
                    };
                    img.src = url;
                });
    </script>
    <script>
/*<![CDATA[*/
 require(["track","track.generic","c.track.mobi"],function(t,g,o){t.extend({"sitePage":{"department":"","subDepartment":"","channel":"homepage","pageName":"startpage","autoRefresh":"0","requestId":"cc7227b7f7fe4e3bb644226f3ef2c489","canvas":"Browser","vertical":"homepage","entityId":"","entityCollectionId":"","entitySrc":"","cvAuthor":"","d_dgk":"tmx.pc.webkit.chrome","d_imd":"0","cvPartner":"","cvPublcat":"","provid":"","templ":"infopane:0;cat:0;IP:Cookie;RV:Cookie;EP:0","pageIndex":"","pageTotalCount":"","isStaticPage":"False","pageVersion":"15","contentType":"unknown_use_metadata_to_set_the_content_type","isCorePV":"","chartBeatUID":"42635","chartBeatDomain":"msn.com","chartBeatBase":"http://static.chartbeat.com","otfURL":"//otf.msn.com/c.gif?","flightid":"muidflt2cf,muidflt9-ismsft,d-thshldie1,d-thshldie2","exa":"muidflt2cf,muidflt9-ismsft,d-thshldie1,d-thshldie2","cvProduct":"prime","pageId":"startpage","storeocid":"msn","pageUrl":"http%3A%2F%2Fwww.msn.com%2F","device":"Unknown Unknown","domainId":"340","propertyId":"","propertySpecifier":"","localeCode":"en-us"},"userStatic":{"isSignedIn":"True","beginRequestTicks":"635834754140689253"},"spinTimeOut":151,"enableOOB":1,"oobWaitTime":151});t.register(new g({"base":"//c.msn.com/c.gif?","id":"ctag","disableOnAutoRefresh":"scorecard","isGeneratedEarly":1,"impr":{"param":{'udc': 'true'},"paramMap":{"event":{'evt':'type'},"userDynamic":{'rid':'requestId','rnd':'timeStamp'},"client":{'rf':'referrer','tp':'pageUrl','scr':'screenResolution'},"sitePage":{'di':'domainId','lng':'localeCode','cv.product':'cvProduct','pn':'pageName','activityId':'requestId','d.dgk':'d_dgk','d.imd':'d_imd'}}}}),new g({"base":"http://b.scorecardresearch.com/b?","id":"scorecard","disableOnAutoRefresh":"scorecard","isGeneratedEarly":0,"impr":{"param":{'c1': '2', 'c2': '3000001'},"paramMap":{"userDynamic":{'rn':'timeStamp'},"client":{'c7':'pageUrl','c8':'pageTitle','c9':'referrer'}}},"page_candidate":{"paramMap":{"event":{'evt':'type'},"userDynamic":{'rn':'timeStamp'},"client":{'c7':'pageUrl','c8':'pageTitle','c9':'referrer'}}}}),new g({"base":"//otf.msn.com/c.gif?","id":"udc","disableOnAutoRefresh":"scorecard","commonMap":{"userDynamic":{'rid':'requestId','cts':'timeStamp'},"client":{'clid':'clientId'},"sitePage":{'di':'domainId','mkt':'localeCode','pn':'pageName','su':'pageUrl','pid':'pageId','mv':'pageVersion','cv.product':'cvProduct','flightid':'flightid','exa':'exa','activityId':'requestId','cvs':'canvas','subcvs':'vertical'}},"isGeneratedEarly":0,"impr":{"param":{'evt': 'impr', 'js': '1'},"paramMap":{"userStatic":{'pp':'isSignedIn'},"userDynamic":{'dv.snlogin':'settings','dv.grpfrmod':'defaultSlotTrees'},"client":{'rf':'referrer','cu':'pageUrl','scr':'screenResolution','bh':'height','bw':'width','dv.Title1':'pageTitle','viewType':'viewType','e1':'OTFTelemetry','prs':'personalization'},"sitePage":{'st.dpt':'department','st.sdpt':'subDepartment','cv.partner':'cvPartner','cv.publcat':'cvPublcat','cv.author':'cvAuthor','CndEl':'conditionalItem','cv.entityId':'entityId','cv.entitySrc':'entitySrc','cv.parentId':'entityCollectionId','provid':'provid','ar':'autoRefresh','d.dgk':'d_dgk','d.imd':'d_imd','tmpl':'templ','isStaticPage':'isStaticPage','pgIdx':'pageIndex','pgTot':'pageTotalCount'}}},"click":{"paramMap":{"event":{'evt':'type'},"userDynamic":{'aop':'AOP','region':'Region','slidetype':'slideType','eventIndex':'eventNumber'},"client":{'gesture':'gesture','viewType':'viewType'},"sitePage":{'cv.product':'cvProduct'},"report":{'ce':'contentElement','cm':'contentModule','hl':'headline','du':'destinationUrl','e1':'module','l':'nLineage','lo':'oLineage'}}},"page_candidate":{"paramMap":{"event":{'evt':'type'}}},"unload":{"paramMap":{"event":{'evt':'type'}}},"app_error":{"paramMap":{"event":{'evt':'type'},"report":{'errId':'errId','errMsg':'errMsg','errSource':'errSource'}}}}));t.trackPage();})
//]]>
    </script>
    <noscript>
        <img src="//c.msn.com/c.gif?udc=true&amp;rid=cc7227b7f7fe4e3bb644226f3ef2c489&amp;rnd=635834754140845569&amp;rf=&amp;tp=http%253A%252F%252Fwww.msn.com%252F&amp;di=340&amp;lng=en-us&amp;cv.product=prime&amp;pn=startpage&amp;activityId=cc7227b7f7fe4e3bb644226f3ef2c489&amp;d.dgk=tmx.pc.webkit.chrome&amp;d.imd=0" alt="image beacon" width="1" height="1" /><img src="http://b.scorecardresearch.com/p?c1=2&amp;c2=3000001&amp;rn=635834754140845569&amp;c7=http%253A%252F%252Fwww.msn.com%252F&amp;c8=&amp;c9=" alt="image beacon" width="1" height="1" /><img src="//otf.msn.com/c.gif?js=0&amp;evt=impr&amp;di=340&amp;pi=&amp;ps=&amp;su=http%253A%252F%252Fwww.msn.com%252F&amp;pageid=startpage&amp;mkt=en-us&amp;pn=startpage&amp;mv=15&amp;pp=True&amp;cv.product=prime&amp;cv.partner=&amp;cv.publcat=&amp;st.dpt=&amp;st.sdpt=&amp;dv.Title1=&amp;cts=635834754140845569&amp;rf=&amp;rid=cc7227b7f7fe4e3bb644226f3ef2c489&amp;cvs=Browser&amp;subcvs=homepage&amp;cv.entityId=&amp;cv.entitySrc=&amp;provid=&amp;ar=0&amp;d.dgk=tmx.pc.webkit.chrome&amp;d.imd=0&amp;cv.parentId=&amp;isCorePV=&amp;pgIdx=&amp;pgTot=&amp;activityId=cc7227b7f7fe4e3bb644226f3ef2c489" alt="image beacon" width="1" height="1" />
    </noscript>

    <div class="head">




        <header id="header-common" class="no-overlay" role="banner" data-region="header" data-id="1" data-m='{"i":1,"n":"header","y":6}'>




            <h1>
                <a class="logo" href="/en-us" data-id="2" data-m='{"i":2,"p":1,"n":"msnlogo","y":14,"l":"homepage","o":1}'>
                    msn  <span class="logohover">refresh page</span>
                </a>
                <a class="vertical" href="/en-us/#tevt=click_nonnav" data-id="3" data-m='{"i":3,"p":1,"n":"HeaderVerticalLink","y":14,"l":"homepage","o":2}'>msn</a>

            </h1>

            <ul>
                <li>

                    <section id="header-search" role="search" data-aop="search" data-id="4" data-m='{"i":4,"p":1,"n":"headersearch","y":9,"o":3}'>
                        <form action="http://www.bing.com/search?scope=web" method="get" id="srchfrm" target="_blank" data-form-code="PRUSEN" data-bing-action-uri="http://www.bing.com/search?scope=web">


                            <button id="sb_form_go" class="text" title="web search">web search</button>

                            <button type="button" name="bingSearch" class="image" title="web search"></button>
                            <div class="qc">
                                <input id="q" name="q" tabindex="1" accesskey="S" autocomplete="off" type="search" value="" maxlength="250"
                                       aria-label="Search:"
                                       data-id="5" data-m='{"i":5,"p":4,"n":"searchinput","y":9,"o":1}'>

                                <script>require(["perfMarker"], function (perfMarker) { var q = document.getElementById("q"); if (q) { q.focus(); perfMarker("TimeToFirstSearchInteractive", true) } })</script>
                            </div>
                            <input type="hidden" name="form" value="PRUSEN" data-id="6" data-m='{"i":6,"p":4,"n":"search_formcode","y":9,"l":"PRUSEN","o":2}'>
                            <input type="hidden" name="mkt" value="en-us" data-id="7" data-m='{"i":7,"p":4,"n":"search_locale","y":9,"l":"en-us","o":3}'>
                            <input type="hidden" name="refig" value="cc7227b7f7fe4e3bb644226f3ef2c489">
                        </form>
                        <button type="button" id="sb"></button>

                    </section>
                </li>
                <li>
                    <ul id="user-profile" data-sso-dependent="true" data-module-id="startpage|start.header|header|header-signin|signin" data-dhp_cookie_days="0" data-id="8" data-m='{"i":8,"p":1,"n":"header-signin","t":"signin","o":4}'>

                        <li id="username">
                            <div id="meCtrl" data-sign-in-url="" data-sign-out-url="http://login.live.com/logout.srf?ct=1447878614&amp;rver=6.1.6195.0&amp;lc=1033&amp;id=1184&amp;lru=https:%2f%2fwww.msn.com%2fen-us%2fhomepage%2fSecure%2fPassport%3fru%3dhttp%253a%252f%252fwww.msn.com%252f&amp;mkt=en-us&amp;pcexp=True" data-me-url="https://login.live.com/me.srf?wa=wsignin1.0&amp;rpsnv=12&amp;ct=1447878613&amp;rver=6.1.6195.0&amp;wp=&amp;wreply=https:%2F%2Fwww.msn.com%2Fen-us%2Fhomepage%2FSecure%2FPassport%3Fru%3Dhttp%253a%252f%252fwww.msn.com%252f%253fpfr%253d1&amp;lc=1033&amp;id=1184&amp;mkt=en-us" data-is-authenticated="True" data-first-name="Ryan" data-last-name="Nowak" data-member-name="ryan.nowak@outlook.com" data-cid="CD3CD40B7E5492D6">
                                <a href="http://profile.live.com/" title="Edit profile" data-id="9" data-m='{"i":9,"p":8,"n":"EditProfileNavigation","y":14,"o":1}'>
                                    <span class="mectrlname">Ryan</span><span class="mectrlimageplaceholder"></span>
                                </a>
                            </div>
                        </li>
                        <li id="settings">
                            <a href="#temp" data-id="10" data-m='{"i":10,"p":8,"n":"settings","y":14,"o":2}'></a>
                            <ul role="menu" aria-hidden="true">

                                <li>
                                    <label>Change language &amp; content:</label>
                                    <select id="site-market" data-id="11" data-m='{"i":11,"p":8,"n":"changemarket","y":14,"o":3}'>
                                        <option data-mkt="es-xl" data-mkt-url="http://www.msn.com/es-xl">Am&#233;rica Latina (espa&#241;ol)</option>
                                        <option data-mkt="es-ar" data-mkt-url="http://www.msn.com/es-ar">Argentina (espa&#241;ol)</option>
                                        <option data-mkt="en-au" data-mkt-url="http://www.msn.com/en-au">Australia (English)</option>
                                        <option data-mkt="nl-be" data-mkt-url="http://www.msn.com/nl-be">Belgi&#235; (Nederlands)</option>
                                        <option data-mkt="fr-be" data-mkt-url="http://www.msn.com/fr-be">Belgique (fran&#231;ais)</option>
                                        <option data-mkt="pt-br" data-mkt-url="http://www.msn.com/pt-br">Brasil (portugu&#234;s)</option>
                                        <option data-mkt="en-ca" data-mkt-url="http://www.msn.com/en-ca">Canada (English)</option>
                                        <option data-mkt="fr-ca" data-mkt-url="http://www.msn.com/fr-ca">Canada (fran&#231;ais)</option>
                                        <option data-mkt="es-cl" data-mkt-url="http://www.msn.com/es-cl">Chile (espa&#241;ol)</option>
                                        <option data-mkt="es-co" data-mkt-url="http://www.msn.com/es-co">Colombia (espa&#241;ol)</option>
                                        <option data-mkt="da-dk" data-mkt-url="http://www.msn.com/da-dk">Danmark (Dansk)</option>
                                        <option data-mkt="de-de" data-mkt-url="http://www.msn.com/de-de">Deutschland (Deutsch)</option>
                                        <option data-mkt="es-es" data-mkt-url="http://www.msn.com/es-es">Espa&#241;a (espa&#241;ol)</option>
                                        <option data-mkt="fr-fr" data-mkt-url="http://www.msn.com/fr-fr">France (fran&#231;ais)</option>
                                        <option data-mkt="en-in" data-mkt-url="http://www.msn.com/en-in">India (English)</option>
                                        <option data-mkt="id-id" data-mkt-url="http://u.msn.com/id-id">Indonesia (Bahasa Indonesia)</option>
                                        <option data-mkt="en-ie" data-mkt-url="http://www.msn.com/en-ie">Ireland (English)</option>
                                        <option data-mkt="it-it" data-mkt-url="http://www.msn.com/it-it">Italia (italiano)</option>
                                        <option data-mkt="en-my" data-mkt-url="http://www.msn.com/en-my">Malaysia (English)</option>
                                        <option data-mkt="es-mx" data-mkt-url="http://prodigy.msn.com/es-mx">M&#233;xico (espa&#241;ol)</option>
                                        <option data-mkt="nl-nl" data-mkt-url="http://www.msn.com/nl-nl">Nederland (Nederlands)</option>
                                        <option data-mkt="en-nz" data-mkt-url="http://www.msn.com/en-nz">New Zealand (English)</option>
                                        <option data-mkt="nb-no" data-mkt-url="http://www.msn.com/nb-no">Norge (norsk, bokm&#229;l)</option>
                                        <option data-mkt="de-at" data-mkt-url="http://www.msn.com/de-at">&#214;sterreich (Deutsch)</option>
                                        <option data-mkt="es-pe" data-mkt-url="http://www.msn.com/es-pe">Per&#250; (espa&#241;ol)</option>
                                        <option data-mkt="en-ph" data-mkt-url="http://www.msn.com/en-ph">Philippines (English)</option>
                                        <option data-mkt="pl-pl" data-mkt-url="http://www.msn.com/pl-pl">Polska (polski)</option>
                                        <option data-mkt="pt-pt" data-mkt-url="http://www.msn.com/pt-pt">Portugal (Portugu&#234;s)</option>
                                        <option data-mkt="de-ch" data-mkt-url="http://www.msn.com/de-ch">Schweiz (Deutsch)</option>
                                        <option data-mkt="en-sg" data-mkt-url="http://www.msn.com/en-sg">Singapore (English)</option>
                                        <option data-mkt="en-za" data-mkt-url="http://www.msn.com/en-za">South Africa (English)</option>
                                        <option data-mkt="fr-ch" data-mkt-url="http://www.msn.com/fr-ch">Suisse (fran&#231;ais)</option>
                                        <option data-mkt="fi-fi" data-mkt-url="http://www.msn.com/fi-fi">Suomi (suomi)</option>
                                        <option data-mkt="sv-se" data-mkt-url="http://www.msn.com/sv-se">Sverige (svenska)</option>
                                        <option data-mkt="tr-tr" data-mkt-url="http://www.msn.com/tr-tr">T&#252;rkiye (T&#252;rk&#231;e)</option>
                                        <option data-mkt="en-ae" data-mkt-url="http://www.msn.com/en-ae">United Arab Emirates (English)</option>
                                        <option data-mkt="en-gb" data-mkt-url="http://www.msn.com/en-gb">United Kingdom (English)</option>
                                        <option data-mkt="en-us" data-mkt-url="http://www.msn.com/en-us" selected>United States (English)</option>
                                        <option data-mkt="es-us" data-mkt-url="http://www.msn.com/es-us">United States (espa&#241;ol)</option>
                                        <option data-mkt="es-ve" data-mkt-url="http://www.msn.com/es-ve">Venezuela (espa&#241;ol)</option>
                                        <option data-mkt="vi-vn" data-mkt-url="http://www.msn.com/vi-vn">Vi&#234;?t Nam (Ti&#234;?ng Vi&#234;?t)</option>
                                        <option data-mkt="el-gr" data-mkt-url="http://www.msn.com/el-gr">????da (e???????)</option>
                                        <option data-mkt="ru-ru" data-mkt-url="http://www.msn.com/ru-ru">?????? (P??????)</option>
                                        <option data-mkt="he-il" data-mkt-url="http://www.msn.com/he-il">????? (?????)?</option>
                                        <option data-mkt="ar-ae" data-mkt-url="http://www.msn.com/ar-ae">???????? ??????? ??????? (????????)</option>
                                        <option data-mkt="ar-sa" data-mkt-url="http://www.msn.com/ar-sa">??????? ??????? ???????? (????????)</option>
                                        <option data-mkt="ar-eg" data-mkt-url="http://www.msn.com/ar-eg">??? (????????)</option>
                                        <option data-mkt="th-th" data-mkt-url="http://www.msn.com/th-th">??? (???)</option>
                                        <option data-mkt="ko-kr" data-mkt-url="http://www.msn.com/ko-kr">?? (???)</option>
                                        <option data-mkt="zh-cn" data-mkt-url="http://cn.msn.com/">??????? (????)</option>
                                        <option data-mkt="zh-tw" data-mkt-url="http://www.msn.com/zh-tw">?? (????)</option>
                                        <option data-mkt="ja-jp" data-mkt-url="http://www.msn.com/ja-jp">?? (???)</option>
                                        <option data-mkt="zh-hk" data-mkt-url="http://www.msn.com/zh-hk">??????? (????)</option>
                                    </select>
                                </li>

                                <li class="marketswitch" data-mkt="es-us" data-mkt-url="http://www.msn.com/es-us" data-id="12" data-m='{"i":12,"p":8,"n":"marketswitch","y":14,"o":4}'>
                                    <span>Switch to Latino</span>
                                </li>

                                <li>
                                    <a href="/en-us/settings" data-id="13" data-m='{"i":13,"p":8,"n":"","y":14,"l":"settings","o":5}'>
                                        Settings
                                    </a>
                                </li>


                                <li class="global">
                                    <button class="personalization" data-id="14" data-m='{"i":14,"p":8,"n":"personalization","y":11,"o":6}'>Customize this page</button>
                                </li>

                                <li>
                                    <a id="makehomepage" target="_blank" href="http://www.myhomemsn.com/?form=MDBMDF&amp;publ=MSNHPG&amp;crea=TEXT_MDBMDF_DHP_DHP_static_1x1" data-id="15" data-m='{"i":15,"p":8,"n":"homepagelink","y":14,"l":"homepage","o":7}'>Make MSN my homepage</a>
                                </li>

                                <li class=feedback>

                                    <a href="#" id="usermenu-feedback" data-id="16" data-m='{"i":16,"p":8,"n":"feedback","y":14,"o":8}'>
                                        Feedback
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://support.microsoft.com/product/msn/msn" data-id="17" data-m='{"i":17,"p":8,"n":"helpLink","y":14,"l":"homepage","o":9}'>Help</a>
                                </li>
                            </ul>

                        </li>

                    </ul>






                </li>
            </ul>

        </header>
        <div class="search-overlay" data-aop="search-overlay"></div>




    </div>

    <div id="precontent" data-region="precontent" data-id="18" data-m='{"i":18,"n":"precontent","y":6}'>





    </div>

    <div id="mestripebg"></div>
    <script>
            window._flushTimings && (window._flushTimings.PreContentEnd = new Date - window.performance.timing.navigationStart);
    </script>
</body>
</html>